body.signin-body {
    background-color: azure
}
.container.signin-container {
    margin-top: 20%;
}
.card.signin-card {
    padding: 40px 0px 20px;
    background-color: lightgrey;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
}
img.signin-img {
    padding: 0 2rem 2rem;
    margin: auto; /*it is gonna take every extra space around the element */
    display: block;
    
}

#fullName {
	
	margin-bottom: 1.1rem;
}
form.signin-form {
    max-width: 350px; 
    margin: auto;
}
button.signin-btn {
    background-color: orangered;
    color:white;
    width: 100%;
    margin-bottom: 1.2rem;
    
}
a.new-account {
    font-size: 1.2rem;
    display: block;
    text-align: center;
    margin-top: 15px;
}