/*############## CUSTOM STYLES FOR NAVBAR ################*/

.navbar {
	background: #302a34; /*for browsers that do not support  gradient.*/
    background: linear-gradient(#787878, #3c3c3c, #000000);
	display: flex;
	max-width: 100%;
	margin: none;	
	padding: none;
}
.button-logout {
	text-align:right;
	margin: auto;
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 10px;
    border-radius: 10%;
   
}
/*############## CUSTOM STYLES FOR WELCOME BLOCK ################*/
.helloUser{
	
	font-family: "Times New Roman", Times, serif;
	color: white;
	align: middle;
	margin:  auto;
	padding: 15px;
}

.display-4 {
	font-family: "Times New Roman", Times, serif;
	text-shadow: 2px 2px;
}

.jumbotron  {
    text-align: center;
    background: none;
}
/*############## CUSTOM STYLES FOR `MY  NAME IS BENJAMIN...` ################*/

.sectionLight {
    background-image: linear-gradient(to right, #f0f0f5, #ccddff, #6699ff, #ccddff, #f0f0f5);
    padding: 2rem;
}
/*############## CUSTOM STYLES FOR SECTION `GET  IN TOUCH` ################*/
.sectionDark {
    background-color: rgb(240, 240, 240);
    padding: 2rem;
}
.coolStuffWrapper {
    margin-top: 20px;
}
button.coolStuffBtn { /*we're a little bit more specific here and we say that any class of coolStuffBtn that is child of button, this is the styling that we want to use*/
    background-color: red;
    color: #ffffff;
    display:block;
    margin: auto;
    border-radius: 5%;
   
}
form-group.forName {
	color: white;
}

.modalFormWrapper {
    padding: 2rem;
}
.imgCenter {
    display: block;
    margin: auto;
}
.btnCenter {
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 50%;
    
}
/*############## CUSTOM STYLES FOR FOOTER ################*/
.contact {
	color: #ffffff;
	margin: auto;
	padding auto;
}
.fa {
    margin: 10px;
}
.fa-github-square {
    color: #ffffff;
}
.fa-stack-overflow {
    color: #fbb117;
}
.fa-youtube-square {
    color: #FF0000;
}
.socialWrapper {
    margin: auto;
}
























