<!doctype html>
<html xmlns:th="http://www.thymeLeaf.org" lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS // Let's connect the CSS to the grid system -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap-4.3.1-dist/css/bootstrap-grid.min.css" >
    <link rel="stylesheet" type="text/css" href="css/bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <!--CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  
  <body>
      
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">MENU</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active"></li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/HuserB8927?tab=repositories">References</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Qualifications
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="pdf/systemadministrator.pdf">IT</a>
          <a class="dropdown-item" href="pdf/vaadin.pdf">VAADIN</a>
          <a class="dropdown-item" href="pdf/javase.pdf">JAVA</a>
          <a class="dropdown-item" href="pdf/resume.pdf">RESUME</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

        <div class="sectionLight">
            <div class="row">
                <div class="col-sm-12">
    <div class="jumbotron jumbotron-fluid"> <!--jumbotron has the own container called jumbotron-fluid-->
        <div class="container">
            <h1 class="display-4">WELCOME TO MY WEBSITE</h1>
                <p class="lead">Don't forget to check my references on GitHub =)</p>
                </div>
            </div>
        </div>
    </div>
            <div class="row">
                <div class="col"></div> <!--this col class is gonna take up any extra col space, so this is like col-3-->
                    <div class="col-sm-12 col-md-6">
                        <div id="mainCarousel" class="carousel slide" data-ride="carousel">
                          <div class="carousel-inner" role="listbox"> <!--this is where our images are-->
                            <div class="carousel-item active">
                              <img class="d-block img-fluid" src="images/hallway.png" alt="First slide">
                                <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                            </div>
                            </div>
                            <div class="carousel-item">
                              <img class="d-block img-fluid" src="images/cybernetwork.png" alt="Second slide">
                                <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                            </div>
                            </div>
                            <div class="carousel-item">
                              <img class="d-block img-fluid" src="images/oilinwater.png" alt="Third slide">
                                <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                            </div>
                            </div>
                          </div>
                          <a class="carousel-control-prev" href="#mainCarousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="carousel-control-next" href="#mainCarousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                          </a>
                            </div>
                        </div>

                    <div class="col"> <!--It's filling up the rest of the cols which is col-3-->
                </div>
            </div>
          </div>
        <!--Section Two-->
        <div class="sectionDark">
            <div class="row">
                <div class="col-sm-12 col-md-1 offset-md-2"> <!--offset means adding empty space of two columns wide to the left of this. BTW, md-1 plus md-2 is a col-3 -->
                    <img class="img-fluid" src="images/hexagon.png">
                </div>

            <div class="col-sm-12 col-md-6">
                <div class="row">
                    <div class="col-sm-12">
                        <p>My name is Benjamin. I was born in 1989 and grew up in Hungary. I’ve been working in the finance and HR sector since 2015 and lived in several countries: 
                        Poland, Slovakia, Croatia and currently in South-Africa. I’ve always dealt with people in my life but a big dream of mine was becoming a Java developer.
                        In August 2018 I purchased a Java course at the school named Studicore Ltd in Budapest that gave me a good understanding of the base concept 
                        of OOP and after six months I've created my first CRUD java program which you can find on my GitHub profile under my References. 
                       	 </p>
                    </div>
                </div>
            <div class="row">
                <div class="col-sm-12 col-md-9" >
                    <p>On the other hand, I've been programming each and every day, doing Codewars challenges, practising Spring Boot and Vaadin framework 
                    and I'd like to start working in an environment where I can learn how to clean code, I want to learn coding tricks and improve my base knowledge. 
                    If you believe that we can work together and you can teach me then don't hesitate to click on the "Get in touch" button below. </p>
                </div>
                <div class="col-sm-12 col-md-3">
                    <img class="img-fluid" src="images/brain.png">
                </div>
            </div>
            </div>
            <div class="col"></div> <!--this is col-3 in this case-->
        </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="coolStuffWrapper">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-lg coolStuffBtn" data-toggle="modal" data-target="#coolStuffModal">Get in touch</button> <!--the data-toggle is going to triggle the modal and then the data-target which is actually gonna call on it-->

                    </div>
                </div>
            </div>
       </div>
          <div class="sectionLight">
          <div class="row">
              <div class="col-sm-12">
                  <div class="row">
                    <div class="col-sm-12 col-lg-4">
                        <img class="img-fluid imgCenter" src="images/square.png">
                        <div class="row">
                            <div class="col-sm-12">
                            <button type="button" class="btn btn-danger btn-lg btnCenter" data-toggle="modal" data-target=".square-modal-lg">Prime</button>
                            </div>
                        </div>
                      </div>
                      <div class="col-sm-12 col-lg-4">
                        <img class="img-fluid imgCenter" src="images/fibo.png">
                        <div class="row">
                            <div class="col-sm-12">
                            <button type="button" class="btn btn-danger btn-lg btnCenter" data-toggle="modal" data-target=".fibo-modal-lg">Fibo</button>
                            </div>
                        </div>
                      </div>
                      <div class="col-sm-12 col-lg-4">
                        <img class="img-fluid imgCenter" src="images/square_copy.png">
                        <div class="row">
                            <div class="col-sm-12">
                            <button type="button" class="btn btn-danger btn-lg btnCenter" data-toggle="modal" data-target=".prime-modal-lg">Square</button>
                            </div>
                        </div>
                      </div>
                  </div>
              </div>
              </div>
          </div>

       <!--FOOTER-->
        <footer class="footer bg-dark"> <!--we can put here our own container-->
          <div class="container-fluid">
              <div class="row">
                  <div class="col-sm-12 col-lg-3 socialWrapper">
                       <h5 class="contact">Email: h.benya@gmail.com <br>Phone: +3630/786-9153</h5>
                  </div>
                  <div class="col-sm-12 col-lg-9">
                      <a href="https://github.com/HuserB8927?tab=repositories" target="_blank"> <!--target="_blank" will open our github page on a new page-->
                      <i class="fa fa-github-square fa-3x" aria-hidden="true"></i></a>
                      <a href="https://stackoverflow.com/users/10525284/huserb1989" target="_blank" >
                      <i class="fa fa-stack-overflow fa-3x" aria-hidden="true"></i>
                      <a href="https://www.youtube.com/user/MrBadsectorr2/" target="_blank">
                      <i class="fa fa-youtube-square fa-3x" aria-hidden="true"></i>
                  </div>
              </div>
            </div>
        </footer>
 <!-- Pop-up Modal that we can put for example out of the sections jut to keep it separate of the other actual markups -->
<div class="modal fade" id="coolStuffModal" tabindex="-1" role="dialog" aria-labelledby="coolStuffLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="contentLabel">May I send you my resumé?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
            <!--Inside of the modal we can build grid system etc. Now we are going to add rows to place our images and other elements.-->
            <div class="row">
                <div class="col-sm-12">
              <!-- <img class="img-fluid" src="images/logowebsite.png"> -->
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                <div class="modalFormWrapper">
                <form>
  <div class="form-group">
    <label for="forName">What's your name?</label>
    <input type="text" class="form-control" id="formName" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="forEmail">Where may I send my CV?</label>
    <input type="text" class="form-control" id="formEmail" placeholder="Email">
  </div>
</form>
                    </div>
                </div>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


      <!--More info Modal 1-->
      <div class="modal fade square-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Scf2He55pus" allowfullscreen></iframe>
</div>
       
    </div>
  </div>
</div>

      <!--More info Modal 2-->
      <!--We just need to change the name of the class and paste the code from above-->
		<div class="modal fade fibo-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content-fibo">
    <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fF3o8McndZw" allowfullscreen></iframe>
</div>
        <p>I was creating a small video of how to write Fibonacci sequence as I learnt at Studicore Kft</p>
    </div>
  </div>
</div>
      <!--More info Modal 3-->
      <!--We just need to change the name of the class and paste the code from above-->
	<div class="modal fade prime-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content-prime">
    <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wko9USAgaa0" allowfullscreen></iframe>
</div>
        
    </div>
  </div>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="css/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
  </body>
</html>
